.vscode
.idea
.env
.venv
/node_modules/
*sqlite*

static/dist

__pycache__

htmlcov/**
.coverage

/node_modules/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
